.select-field{
    width: 100%;
    label{
        display: block;
        color: #333;
        font-size: 14px;
        font-weight: 600;
        font-family: "Open Sans";
        margin: 8px 0px;
        &>sup{
            color: red;
            font-weight: 700;
            font-size: 1rem;
            &::before{
                content: '';
                margin-left: 4px;
            }
        }
    }
    select{
        width: 100%;
        font-size: 1rem;
        line-height: 24px;
        padding: 10px 10px;
        border-radius: 5px;
        border: 1px solid gray;
        color: #000;
        font-weight: 500;
        &:focus-visible{
            outline: none;
        }
        
    }
}